<div class="card">
  <div class="card-header card-header-tabs card-header-primary">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ul class="nav nav-tabs" data-tabs="tabs">
          <li class="nav-item">
            <span class="nav-link">Статус</span>
          </li>
          <li class="nav-item">
            <span class="nav-link">Срок</span>
          </li>
          <li class="nav-item">
            <span class="nav-link">Приоритет</span>
          </li>
          <li class="nav-item">
            <span class="nav-link">Категория</span>
          </li>
          <li class="nav-item">
            <span class="nav-link"> добавить </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane active">
        <div style="height: 10px"></div>
        <table mat-table [dataSource]="tasks" class="table">
          <ng-container matColumnDef="completed">
            <th mat-header-cell *matHeaderCellDef>
              <mat-icon>done_all</mat-icon>
            </th>
            <td mat-cell *matCellDef="let task">
              <mat-checkbox
                [(ngModel)]="task.completed"
                (change)="handleCheckedCompleted(task.id, task.completed)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Задача</th>
            <td mat-cell *matCellDef="let task">
              {{ task.title }}
            </td>
          </ng-container>

          <ng-container matColumnDef="deadline">
            <th mat-header-cell *matHeaderCellDef>Срок</th>
            <td mat-cell *matCellDef="let task">
              {{ task.deadline }}
            </td>
          </ng-container>

          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef>Приоритет</th>
            <td mat-cell *matCellDef="let task">
              {{ task.priority?.title }}
            </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Категория</th>
            <td mat-cell *matCellDef="let task">
              {{ task.category?.title }}
            </td>
          </ng-container>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Ред.</th>
            <td mat-cell *matCellDef="let task" class="td-actions text-right">
              <button
                mat-icon-button
                [tabIndex]="task.id"
                class="btn btn-primary btn-link btn-sm"
                rel="tooltip"
                title="Изменить задачу"
                type="button">
                <i class="material-icons">edit</i>
              </button>
              <button
                mat-icon-button
                [tabIndex]="task.id"
                class="btn btn-danger btn-link btn-sm"
                rel="tooltip"
                title="Удалить задачу"
                type="button">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
