<div class="card">
  <!--    поиск задач-->

  <div class="card-header card-header-tabs card-header-primary">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <div class="nav nav-tabs">
          <button
            *ngIf="
              (searchText !== null && searchText.trim() !== '') ||
              selectedStatusFilter !== null ||
              selectedPriorityFilter !== null
            "
            mat-icon-button
            matTooltip="Сбросить фильтры"
            class="btn-white"
            (click)="
              clearSearchTitleInput();
              onFilterByStatus(null);
              onFilterByPriority(null)
            ">
            <mat-icon class="material-icons">clear</mat-icon>
          </button>

          <mat-form-field class="small-mat-form-field col-md-3 col-sm-12">
            <mat-label>Поиск...</mat-label>
            <input
              matInput
              [(ngModel)]="searchText"
              (input)="onSearchTitleInputChange()" />
            <button
              mat-icon-button
              style="bottom: 3px; color: #727070"
              matIconSuffix
              aria-label="Clear"
              *ngIf="searchText"
              (click)="clearSearchTitleInput()">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="small-mat-form-field col-md-3 col-sm-12">
            <mat-label>Фильтр по статусу</mat-label>
            <mat-select
              [value]="selectedStatusFilter"
              (valueChange)="onFilterByStatus($event)">
              <mat-option [value]="null">Все</mat-option>
              <mat-option [value]="true">Завершенные</mat-option>
              <mat-option [value]="false">Незавершенные</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="small-mat-form-field col-md-3 col-sm-12">
            <mat-label>Фильтр по приоритетам</mat-label>
            <mat-select
              (valueChange)="onFilterByPriority($event)"
              [value]="selectedPriorityFilter">
              <mat-option [value]="null">Все</mat-option>
              <mat-option
                *ngFor="let priority of priorities$ | async"
                [value]="priority"
                >{{ priority.title }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <button
            mat-icon-button
            matTooltip="Добавить задачу"
            class="btn-white">
            <mat-icon class="material-icons">added</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body" *ngIf="(tasks$ | async) === null">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="card-body" *ngIf="dataSource.data && dataSource.data.length > 0">
    <mat-table
      mat-table
      [dataSource]="dataSource"
      matSort
      class="table table-responsive">
      <!-- Заголовки столбцов -->

      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>done_all</mat-icon>
        </th>
        <td mat-cell *matCellDef="let task">
          <mat-checkbox
            [id]="task.id"
            [(ngModel)]="task.completed"
            (click)="handleCheckedCompleted(task)"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Задача</th>
        <td
          mat-cell
          *matCellDef="let task"
          [ngClass]="{ completed: task.completed }">
          {{ task.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Срок</th>
        <td
          mat-cell
          *matCellDef="let task"
          [ngClass]="{ completed: task.completed && task.deadline }">
          {{ task.deadline ? (task.deadline | dateFormat) : '__' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Приоритет</th>
        <td
          mat-cell
          *matCellDef="let task"
          [ngClass]="{ completed: task.completed && task.priority?.title }"
          [style.color]="task.priority?.color">
          {{ task.priority?.title ? task.priority!.title : '__' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Категория</th>
        <td
          mat-cell
          *matCellDef="let task"
          [ngClass]="{
            completed: task.completed && task.category?.title,
            link: !task.completed && task.category
          }"
          (click)="
            !task.completed &&
              task.category &&
              showTasksByCategory(task.category)
          ">
          {{ task.category?.title ? task.category.title : '__' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Ред.</th>
        <td mat-cell *matCellDef="let task" class="td-actions text-right">
          <button
            mat-icon-button
            matTooltip="Изменить задачу"
            [tabIndex]="task.id"
            class="btn btn-primary btn-link btn-sm"
            (click)="edit(task)">
            <mat-icon class="material-icons">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Уд.</th>
        <td mat-cell *matCellDef="let task" class="td-actions text-right">
          <button
            [tabIndex]="task.id"
            (click)="delete(task)"
            mat-icon-button
            matTooltip="Удалить задачу"
            class="btn btn-danger btn-link btn-sm">
            <mat-icon class="material-icons">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Определение строк данных -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </mat-table>

    <!-- Пагинация -->
    <mat-paginator
      class="col-md-5"
      [pageSizeOptions]="[5, 20, 100]"></mat-paginator>
  </div>

  <!-- Если нет данных -->
  <div
    class="card-body"
    *ngIf="(tasks$ | async) && dataSource.data && dataSource.data.length === 0">
    <p class="empty_tasks">Заметок нет...</p>
  </div>
</div>
