.completed {
  text-decoration: line-through ;
  font-style: oblique;
  color: #adadad;
}

.empty_tasks {
  text-align: center;
  font-size: 20px;
  color: #b0b0b0;
  margin: 20px
}

.demo-table {
  width: 100%;
}

.mat-column-title {
  width: 100%;
  padding-right: 25px;
  text-align: left;
}

.button-edit-delete {
  width: 50%;
  height: 50%;
}
