<div
  class="sidebar"
  data-background-color="white"
  data-color="purple"
  data-image="src/assets/img/sidebar-1.jpg">
  <div class="logo">
    <span class="simple-text logo-normal"> Creative Tim </span>
  </div>
  <div class="sidebar-wrapper">
    <ul
      class="nav"
      *ngFor="let category of categories; index as i; trackBy: trackByFn">
      <li class="nav-item" [class.active]="category.id === selectedCategory.id">
        <a
          tabindex="0"
          (keydown.enter)="showTasksByCategory(category)"
          class="nav-link"
          style="cursor: pointer"
          (click)="showTasksByCategory(category)">
          <span>
            {{ category.title }}
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
