.line {
    border-bottom: 1px solid rgba(180, 180, 180, 0.3);
    padding-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.category-title {
  width: 70%;
  display: inline-block;
  font-size: 15px;
}

.edit-category-icon-area {
  width: 15%;
  padding-left: 10px;
  display: inline-block;
  text-align: left;
  font-size: 17px
}
